<!-- <app-child    [products]="salesProduct">
    <h3 class="header">sales Product</h3>
    <a  class="link" href="#">go to other products</a>
</app-child>
<app-child   [products]="newProduct">
    <h3 class="header">sales Product</h3>
    <a  class="link" href="#"> go to other products</a>
</app-child> -->
<!-- 12/01 -->
<!-- <button (click)="toggle">click</button>
<input type="text" [(ngModel)]="uname">
{{uname}}
<app-child *ngIf="flag" [uname]="uname">
    <h4 #cheader>content</h4>
</app-child>
<div>
    <h3 #header>hi,Sahana</h3>
    <h3 #header>hi,jungkook</h3>
</div> -->
